/****** Object:  Table [AUDIT].[T_DS_LOADSTATS_JOB]    Script Date: 12/21/2020 8:25:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUDIT].[T_DS_LOADSTATS_JOB](
	[LOAD_ID] [bigint] NOT NULL,
	[JOB_PROJ_NM] [char](75) NOT NULL,
	[JOB_NM] [char](75) NOT NULL,
	[LAST_ACTY_OPER_ID] [char](15) NOT NULL,
	[LAST_ACTY_DTM] [datetime] NOT NULL,
 CONSTRAINT [PK_DS_LS_JOB] PRIMARY KEY CLUSTERED 
(
	[JOB_NM] ASC,
	[JOB_PROJ_NM] ASC,
	[LOAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AUDIT].[T_DS_LOADSTATS_STG]    Script Date: 12/21/2020 8:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUDIT].[T_DS_LOADSTATS_STG](
	[LOAD_ID] [bigint] NOT NULL,
	[STG_PROJ_NM] [char](75) NOT NULL,
	[STG_JOB_NM] [char](75) NOT NULL,
	[STG_NM] [char](75) NOT NULL,
	[STG_SEQ] [int] NOT NULL,
	[STG_START_DTM] [datetime] NOT NULL,
	[STG_END_DTM] [datetime] NULL,
	[STG_TYPE] [char](75) NOT NULL,
	[STG_STATUS] [int] NULL,
	[STG_ODBC_INS] [int] NULL,
	[STG_ODBC_UPD] [int] NULL,
	[STG_ODBC_DEL] [int] NULL,
	[STG_ODBC_REJ] [int] NULL,
	[LAST_ACTY_OPER_ID] [char](15) NOT NULL,
	[LAST_ACTY_DTM] [datetime] NOT NULL,
 CONSTRAINT [PK_DS_LS_STG] PRIMARY KEY CLUSTERED 
(
	[STG_NM] ASC,
	[STG_JOB_NM] ASC,
	[STG_PROJ_NM] ASC,
	[LOAD_ID] ASC,
	[STG_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AUDIT].[T_DS_LOADSTATS_LNK]    Script Date: 12/21/2020 8:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUDIT].[T_DS_LOADSTATS_LNK](
	[LOAD_ID] [bigint] NOT NULL,
	[LNK_PROJ_NM] [char](75) NOT NULL,
	[LNK_JOB_NM] [char](75) NOT NULL,
	[LNK_STG_NM] [char](75) NOT NULL,
	[LNK_NM] [char](75) NOT NULL,
	[LNK_SEQ] [int] NOT NULL,
	[LNK_LINKED_STG] [char](75) NULL,
	[LNK_ROWCOUNT] [int] NULL,
	[LAST_ACTY_OPER_ID] [char](15) NOT NULL,
	[LAST_ACTY_DTM] [datetime] NOT NULL,
 CONSTRAINT [PK_DS_LS_LNK] PRIMARY KEY CLUSTERED 
(
	[LNK_NM] ASC,
	[LNK_STG_NM] ASC,
	[LNK_JOB_NM] ASC,
	[LNK_PROJ_NM] ASC,
	[LOAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AUDIT].[T_DS_JOB_DESC]    Script Date: 12/21/2020 8:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUDIT].[T_DS_JOB_DESC](
	[PROJ_NM] [char](75) NOT NULL,
	[JOB_NM] [char](75) NOT NULL,
	[JOB_DESC] [varchar](350) NOT NULL,
	[LAST_ACTY_OPER_ID] [char](15) NOT NULL,
	[LAST_ACTY_DTM] [datetime] NOT NULL,
 CONSTRAINT [PK_DS_JOB_DESC] PRIMARY KEY CLUSTERED 
(
	[PROJ_NM] ASC,
	[JOB_NM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AUDIT].[T_DS_LNK_DESC]    Script Date: 12/21/2020 8:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUDIT].[T_DS_LNK_DESC](
	[PROJ_NM] [char](75) NOT NULL,
	[JOB_NM] [char](75) NOT NULL,
	[STG_NM] [char](75) NOT NULL,
	[LNK_NM] [char](75) NOT NULL,
	[LNK_DESC] [varchar](350) NOT NULL,
	[LAST_ACTY_OPER_ID] [char](15) NOT NULL,
	[LAST_ACTY_DTM] [datetime] NOT NULL,
 CONSTRAINT [PK_DS_LNK_DESC] PRIMARY KEY CLUSTERED 
(
	[PROJ_NM] ASC,
	[JOB_NM] ASC,
	[STG_NM] ASC,
	[LNK_NM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [AUDIT].[V_DS_LOADSTATS]    Script Date: 12/21/2020 8:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [AUDIT].[V_DS_LOADSTATS] AS
    SELECT J.LOAD_ID,
           J.JOB_PROJ_NM,
           J.JOB_NM,
           JD.JOB_DESC,
           S.STG_NM,
           SD.STG_DESC,
           S.STG_SEQ,
           S.STG_START_DTM,
           S.STG_END_DTM,
           S.STG_TYPE,
           S.STG_STATUS,
           S.STG_ODBC_INS,
           S.STG_ODBC_UPD,
           S.STG_ODBC_DEL,
           S.STG_ODBC_REJ,
           L.LNK_NM,
           LD.LNK_DESC,
           L.LNK_SEQ,
           L.LNK_LINKED_STG,
           L.LNK_ROWCOUNT,
           J.LAST_ACTY_OPER_ID,
           J.LAST_ACTY_DTM
      FROM AUDIT.T_DS_LOADSTATS_JOB J
      LEFT OUTER JOIN AUDIT.T_DS_LOADSTATS_STG S
        ON S.LOAD_ID = J.LOAD_ID
       AND S.STG_PROJ_NM = J.JOB_PROJ_NM
       AND S.STG_JOB_NM = J.JOB_NM
      LEFT OUTER JOIN AUDIT.T_DS_LOADSTATS_LNK L
        ON L.LOAD_ID = S.LOAD_ID
       AND L.LNK_PROJ_NM = S.STG_PROJ_NM
       AND L.LNK_JOB_NM = S.STG_JOB_NM
       AND L.LNK_STG_NM = S.STG_NM
      LEFT OUTER JOIN AUDIT.T_DS_JOB_DESC JD
        ON JD.PROJ_NM = J.JOB_PROJ_NM
       AND JD.JOB_NM = J.JOB_NM
      LEFT OUTER JOIN AUDIT.T_DS_STG_DESC SD
        ON SD.PROJ_NM = S.STG_PROJ_NM
       AND SD.JOB_NM = S.STG_JOB_NM
       AND SD.STG_NM = S.STG_NM
      LEFT OUTER JOIN AUDIT.T_DS_LNK_DESC LD
        ON LD.PROJ_NM = L.LNK_PROJ_NM
       AND LD.JOB_NM = L.LNK_JOB_NM
       AND LD.STG_NM = L.LNK_STG_NM
       AND LD.LNK_NM = L.LNK_NM
GO
/****** Object:  View [AUDIT].[V_JOB_START_END]    Script Date: 12/21/2020 8:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [AUDIT].[V_JOB_START_END] AS
select JOB_NM, LOAD_ID, MIN(STG_START_DTM) START_DTM, MAX(STG_END_DTM) END_DTM
  from AUDIT.V_DS_LOADSTATS
 group by JOB_NM, LOAD_ID
 
GO
ALTER TABLE [AUDIT].[T_DS_JOB_DESC] ADD  DEFAULT (' ') FOR [LAST_ACTY_OPER_ID]
GO
ALTER TABLE [AUDIT].[T_DS_JOB_DESC] ADD  DEFAULT (sysdatetime()) FOR [LAST_ACTY_DTM]
GO
ALTER TABLE [AUDIT].[T_DS_LNK_DESC] ADD  DEFAULT (' ') FOR [LAST_ACTY_OPER_ID]
GO
ALTER TABLE [AUDIT].[T_DS_LNK_DESC] ADD  DEFAULT (sysdatetime()) FOR [LAST_ACTY_DTM]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_JOB] ADD  DEFAULT (' ') FOR [LAST_ACTY_OPER_ID]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_JOB] ADD  DEFAULT (sysdatetime()) FOR [LAST_ACTY_DTM]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_LNK] ADD  DEFAULT (' ') FOR [LAST_ACTY_OPER_ID]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_LNK] ADD  DEFAULT (sysdatetime()) FOR [LAST_ACTY_DTM]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_STG] ADD  DEFAULT (' ') FOR [LAST_ACTY_OPER_ID]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_STG] ADD  DEFAULT (sysdatetime()) FOR [LAST_ACTY_DTM]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_LNK]  WITH CHECK ADD  CONSTRAINT [FK_DS_LS_LNK_001] FOREIGN KEY([LNK_JOB_NM], [LNK_PROJ_NM], [LOAD_ID])
REFERENCES [AUDIT].[T_DS_LOADSTATS_JOB] ([JOB_NM], [JOB_PROJ_NM], [LOAD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_LNK] CHECK CONSTRAINT [FK_DS_LS_LNK_001]
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_STG]  WITH CHECK ADD  CONSTRAINT [FK_DS_LS_STG_001] FOREIGN KEY([STG_JOB_NM], [STG_PROJ_NM], [LOAD_ID])
REFERENCES [AUDIT].[T_DS_LOADSTATS_JOB] ([JOB_NM], [JOB_PROJ_NM], [LOAD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [AUDIT].[T_DS_LOADSTATS_STG] CHECK CONSTRAINT [FK_DS_LS_STG_001]
GO
